/* header style OPEN */
header {
    width: 100%;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    height: 80px;
}

    /* webSite title styel OPEN */
h1
{
    font-family: 'DynaPuff', cursive;
    color: blueviolet;
}
    /* webSite title styel CLOSE */

    /* search form style OPEN */
form
{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
        /* search input styel OPEN */
form input
{
    outline: none;
    border: none;
    height: 35px;
    padding-left: 10px;
    width: 90%;
    font-size: 16px;
    font-family: 'DynaPuff', cursive;
    font-family: 'Open Sans', sans-serif;
    
}
        /* search input styel CLOSE */

        /* search icon styel OPEN */
form i
{
    color: blueviolet;
    font-size: 21px;
    width: 10%;
    text-align: center;
    height: 35px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: darkseagreen;
    cursor: pointer;
}
        /* search icon styel CLOSE */

    /* search form style CLOSE */

    /* sign button style OPEN */
header div
{
    height: 100%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8ca3a34a;
    color: blueviolet;
    cursor: pointer;
    font-size: 18px;
}
        /* sign button hover style OPEN */
header div:hover
{
    background-color: #8ca3a36b;
}
        /* sign button hover style CLOSE */
    /* sign button style CLOSE */
/* header style CLOSE */