/* header style OPEN */
header {
    width: 100%;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aquamarine;
    height: 80px;
}

    /* webSite title styel OPEN */
h1
{
    font-family: 'DynaPuff', cursive;
    color: blueviolet;
}
    /* webSite title styel CLOSE */

    /* search form style OPEN */
form
{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}
        /* search input styel OPEN */
form input
{
    height: 35px;
    padding-left: 10px;
    width: 90%;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    
}
        /* search input styel CLOSE */

        /* search icon styel OPEN */
form i
{
    color: blueviolet;
    font-size: 21px;
    width: 10%;
    text-align: center;
    height: 35px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: darkseagreen;
    cursor: pointer;
}
        /* search icon styel CLOSE */

    /* search form style CLOSE */

    /* sign & singOut & cart and personalPage buttons style OPEN */
header div.sign, header div.cart, header div.personal-page, header div.sign-out
{
    height: 100%;
    width: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#8ca3a36b;
    color: blueviolet;
    cursor: pointer;
    font-size: 18px;
}
        /* sign and signOut icons style OPEN */
header div.sign i, header div.sign-out i
{
    margin-right: 10px;
}
        /* sign and signOut icons style CLOSE */
        /* sign and signOut buttons hover style OPEN */
header div.sign:hover , div.sign-out:hover
{
    background-color: #62adca6b;
}
        /* sign button hover style CLOSE */
    /* sign & singOut & cart and personalPage buttons CLOSE */

    /* cart and personal-page style OPEN */
header div.cart, header div.personal-page
{
    width: auto;
    background-color: rgba(128, 128, 128, 0);
}
        /* cart span style OPEN */
header div.cart span
{
    margin-right: 3px;
    border-radius: 50%;
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    font-size: 19px;
}
        /* cart span  style CLOSE */
    /* cart and personal-page style CLOSE */

    /* nav-phone style OPEN*/
header .nav-phone
{
    width: 50px;
    height: 30px;
    
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    cursor: pointer;
    flex-direction: column;
    display: none;
}
    /* nav-phone hover style OPEN */
header .nav-phone:hover
{
    background-color: #8ca3a36b;
}    

    /* nav-phone hover style CLOSE */
    /* nav-phone items style OPEN */
header .nav-phone span
{
    display: block;
    width: 80%;
    height: 1px;
    background: black;
    transition-duration: 0.6s;
}

        /* middle span style OPEN */
header .nav-phone .middle
{
    width: 50%;
    transition-duration: 0.6s;
}
        /* middle span style Close */
        
    /* nav-phone items style CLOSE */
/* nav-phone style OPEN */
/* header style CLOSE */

/* nav-par phone version OPEN */
header+nav
{
    
    position: fixed;
    width: 100%;
    height: calc(100% - 80px);
    background-color: #000000e0;
    top: 80px;
    z-index: 1;
}
    /* ul style OPEN */
header+nav ul
{
    color: aliceblue;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(4,20%);
    grid-template-columns: repeat(1,100%);
    height: 40%;
    align-items: center;
    font-size: 27px;
    font-family: monospace;
    padding-left: 40px;
}
        /* ul li items style OPEN */
header+nav ul li
{
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    cursor: pointer;
}
            /* li hover style OPEN */
header+nav ul li:hover
{
    color: cadetblue;
}
            /* li icon style OPEN */
header+nav ul li i
{
    margin-right: 10px;
}
            /* li icon style CLOSE */
        /* ul li items style CLOSE */
    /* ul style CLOSE */
/* nav-par phone version CLOSE */

/* widths classes*/
.eigty
{
    width: 80% !important;
}

/* display classes */
.none
{
    display: none !important;
}

.none-nav
{
    display: none;
}

/* transForm classes */
.rotate45
{
    transform: rotate(45deg);
}

.rotate-45
{
    transform: rotate(-45deg);
}
/* media queries */
    /* query max-width 1350 */
@media (max-width: 1350px) 
{    
    /* signOut button style OPEN */
    header div.sign-out
    {
        width: 11%;
    }
    /* signOut button style CLOSE */
}

    /* query max-width 1000 */
@media (max-width: 1100px) 
{
   /* sign button style OPEN */
    header div.sign
    {
        width: 11%;
    }
    /* sign button style CLOSE */

    /* signout button style OPEN */
    header div.sign-out
    {
        width: 12%;
    }
    /* sign button style CLOSE */
}

    /* query max-width 1000 */
@media (max-width: 900px) 
{
   /* sign button style OPEN */
    header div.sign
    {
        width: 12%;
    }
    /* sign button style CLOSE */

    /* signout button style OPEN */
    header div.sign-out
    {
        width: 13%;
    }
    /* sign button style CLOSE */
}


    /* query max-width 700 */
@media (max-width: 700px)
{
    /* search form style OPEN */
    form
    {
        width: 70%;
    }
    /* search form style CLOSE */

    /* sign button style OPEN */
    header div.sign
    {
        display: none;
    }
    /* sign button style Close */

    /* nav-phone style OPEN*/
    header .nav-phone
    {
        display: flex;
    }
    /* nav-phone style CLOSE*/
}