/* header style OPEN */
header {
    width: 100%;
    padding: 20px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /* webSite title styel OPEN */
h1
{
    font-family: 'DynaPuff', cursive;
}
    /* webSite title styel CLOSE */
/* header style CLOSE */