<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- font-awesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- header style -->
    <link rel="stylesheet" href="/cssFiles/header.css">

    <!-- main css file for page content -->
    <link rel="stylesheet" href="/cssFiles/indexCssFiles/index.css">

    <!-- Project title fornt -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap" rel="stylesheet">
    <!-- page title -->
    <title>Home</title>
</head>
<body>
    <!-- header part -->
    <header>
        <h1>Alls</h1>
        <form>
            <input type="text">
            <i class="fa-solid fa-magnifying-glass"></i>
        </form>
        <div>Sign</div>
    </header>
</body>
</html>