<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- font-awesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <!-- page style -->
        <link rel="stylesheet" href="/cssFiles/index/index.css">

        <!-- products card style -->
        <link rel="stylesheet" href="/cssFiles/common/productCard.css">
        <!-- products card title font -->
        <link href="https://fonts.googleapis.com/css2?family=Aboreto&display=swap" rel="stylesheet">
        <!-- copy from here for header styles file -->
            <!-- main styles for any page -->
            <link rel="stylesheet" href="/cssFiles/main.css">

            <!-- header style -->
            <link rel="stylesheet" href="/cssFiles/header.css">    

            <!-- Project title fornt -->
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&display=swap" rel="stylesheet">
            <!-- search font -->
            <link href="https://fonts.googleapis.com/css2?family=DynaPuff:wght@500&family=Open+Sans&display=swap" rel="stylesheet">

        <!-- Copy end -->
        <!-- page title -->
        <title>Home</title>
    </head>
    <body>

        <!-- header part -->
        <header>

            <!-- webSite title -->
            <h1>Alls</h1>

            <!-- search form part -->
            <form>
                <input type="text" placeholder="Search about products">
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>

            <!-- sign button -->
                <div class="sign">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Sign
                </div>

            <!-- sign out -->
            <div class="sign-out none">
                <i class="fa-solid fa-right-from-bracket"></i>
                Sign Out
            </div>

            <!-- cart -->
            <div class="cart none">
                <span>0</span>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>

            <!-- personal page -->
            <div class="personal-page none">
                <i class="fa-solid fa-user"></i>
            </div>
            <!-- nave par appear when the window size being small less than 600px -->
            <div class="nav-phone">
                <span class="first"></span>
                <span class="middle"></span>
                <span class="last"></span>
            </div>

        </header>

        <!-- phone version nav-par -->
        <nav class="navParOfPhoneVersion none-nav">
            <ul>
                <li class="my-page none">
                    <i class="fa-solid fa-user"></i>
                    Personal page
                </li>

                <li class="cart none">
                    <i class="fa-solid fa-cart-shopping"></i>
                    Cart
                </li>
                <li class="sign">
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Sign
                </li>
                <li class="sign-out none">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    Sign Out
                </li>
                
            </ul>
        </nav>

        <!-- main part of the page -->
        <main>

            <!-- categories -->
            <div id="0" class="category">

                <!-- category title -->
                <h2 class="title">Category Title</h2>

                <!-- products container -->
                <div class="container">

                        <!-- product photo -->
                        <div class="photo">
                            <img src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?cs=srgb&dl=pexels-math-90946.jpg&fm=jpg" alt="canone camera">
                        </div>

                        <!-- product details -->
                        <div class="details">
                            <!-- product title -->
                            <h3 class="title">product title</h3>

                            <!-- product rate-->
                            <div class="rate">
                                <i class="fa-solid fa-star s1"></i>
                                <i class="fa-solid fa-star s2"></i>
                                <i class="fa-solid fa-star s3"></i>
                                <i class="fa-solid fa-star s4"></i>
                                <i class="fa-solid fa-star s5"></i>
                            </div>

                            <!-- product state -->
                            <span class="avilable">avilable</span>

                            <!-- product price -->
                            <span class="price">50$</span>
                        </div>

                </div>
                <!-- right angle -->
                <div class='right-angle'>
                    <i class="fa-solid fa-angle-right"></i>
                </div>

                <!-- left angle -->
                <div class='left-angle'>
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                    
            </div>

            <!-- categories -->
            <div id="1" class="category">

                <!-- category title -->
                <h2 class="title">Category Title</h2>

                <!-- products container -->
                <div class="container">

                    <!-- product card -->
                    <div class="product">

                        <!-- product photo -->
                        <div class="photo">
                            <img src="https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?cs=srgb&dl=pexels-math-90946.jpg&fm=jpg" alt="canone camera">
                        </div>

                        <!-- product details -->
                        <div class="details">
                            <!-- product title -->
                            <h3 class="title">product title</h3>

                            <!-- product rate-->
                            <div class="rate">
                                <i class="fa-solid fa-star s1"></i>
                                <i class="fa-solid fa-star s2"></i>
                                <i class="fa-solid fa-star s3"></i>
                                <i class="fa-solid fa-star s4"></i>
                                <i class="fa-solid fa-star s5"></i>
                            </div>

                            <!-- product state -->
                            <span class="avilable">avilable</span>

                            <!-- product price -->
                            <span class="price">50$</span>
                        </div>

                    </div>
                    
                </div>
                <!-- right angle -->
                <div class='angle right-angle'>
                    <i class="fa-solid fa-angle-right"></i>
                </div>

                <!-- right angle -->
                <div class='angle left-angle'>
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                    
            </div>
        </main>
        <script src="/library/frontEndLibrary.js"></script>
        <script src="/javaScriptFiles/index/domElements.js"></script>
        <script src="/javaScriptFiles/index/productsObject.js"></script>
        <script src="/javaScriptFiles/index/containerClass.js" type="module"></script>
        <script src="/javaScriptFiles/index/controllingProductsNum.js" type="module"></script>
        <script src="/javaScriptFiles/index/anglesObject.js"  type="module"></script>
        <script src="/javaScriptFiles/header.js"></script>
    </body>
</html>