<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- font-awesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- main styles for any page -->
        <link rel="stylesheet" href="/cssFiles/main.css">

        <!-- file style for the register page -->
        <link rel="stylesheet" href="/cssFiles/register/index.css">

        <!-- file style for registering-state style -->
        <link rel="stylesheet" href="./cssFiles/register/registering-state.css">

        <!-- file style for successful-register style -->
        <link rel="stylesheet" href="./cssFiles/register/success-register-mssg.css">

        <!-- title of the page -->
        <title>Alls: register</title>
    </head>
    <body>
        <!-- register form -->
        <form>

            <!-- user name part -->
            <fieldset class="user-name">
                <label for="user-name" >User Name:</label>
                <input id="user-name" placeholder="Enter your user name" type="text" maxlength="25" required>
                <i class="fa-solid fa-user"></i> 
            </fieldset>

            <!-- Email part -->
            <fieldset class="email">
                <label for="email" >Email:</label>
                <input id="email" placeholder="Enter your Email" type="email" required>
                <i class="fa-solid fa-envelope"></i>
            </fieldset>
            
            <!-- user pssw part -->
            <fieldset class="pssw">
                <label for="pssw" >Password:</label>
                <input id="pssw" placeholder="Enter your password" type="text" required>
                <i class="fa-solid fa-key"></i>
            </fieldset>

            <hr/>

            <!-- reqgister and log-in part -->
            <fieldset class="register">
                <div class="register">Register</div>
            </fieldset>
            
        </form>

        <div class="registering-state">

            <div class="successful-register none">
                <div class="successful-message-container">

                    <h2 class="successful-message-title">
                        success!
                    </h2>

                    <p class="successful-message">
                        You have a new account on Alls web site, Congratulation
                    </p>

                    <button class="btn-move-to-sign-page">
                        Go to sign page
                    </button>
                    
                </div>
            </div>

            <div class="fail-register">
                <div class="fail-message-container">

                    <h2 class="fail-message-title">
                        Failed!
                    </h2>

                    <p class="failur-message">
                        Sorry! There is a broblem from the server. Try again later.
                    </p>

                    <button class="btn-try-again">
                        Try Again
                    </button>
                    
                </div>
            </div>

        </div>

        <script src="./javaScriptFiles/register/registerPageClass.js"></script>
    </body>
</html>