<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- font-awesome cdn -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- main styles for any page -->
        <link rel="stylesheet" href="/cssFiles/main.css">

        <!-- file style for the sign page -->
        <link rel="stylesheet" href="/cssFiles/sign/index.css">
        
        <!-- title of the page -->
        <title>Alls: sign page</title>
    </head>
    <body>
        <!-- sign form -->
        <form>

            <!-- user name part -->
            <fieldset class="user-name">
                <label for="user-name" >User Name:</label>
                <input id="user-name" placeholder="Enter your user name" type="text">
                <i class="fa-solid fa-user"></i>
            </fieldset>
            
            <!-- user pssw part -->
            <fieldset class="pssw">
                <label for="pssw" >Password:</label>
                <input id="pssw" placeholder="Enter your password" type="text">
                <i class="fa-solid fa-key"></i>
            </fieldset>

            <hr/>

            <!-- reqgister and log in part -->
            <fieldset class="register">
                <a href="/register">I need a new account</a>
                <div class="log-in">Log in</div>
            </fieldset>
            
        </form>
    </body>
</html>