.red-orange-body
{
    background-color: #af8c4c;
}

.fail-register
{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

.fail-message-container
{
    width: 678px;
    height: 678px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 21px #e51532 solid;
    flex-wrap: wrap;
}