.red-orange-body
{
    background-color: #af8c4c;
}

.fail-register
{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}