.red-orange-body
{
    background-color: #af8c4c;
}

.message-container-failurColor
{
    border: 21px #e51532 solid;
}

.message-title--failurColor
{
    color: #800027;
}

.message--failurColor
{
    color: #a53f63;
}