html
{
    height: 100%;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form
{
    width: 447px;
    height: auto;
    background-color: aquamarine;
    padding: 20px;
}

form fieldset
{
    border: none;
    margin-bottom: 20px;
}

form fieldset label
{
    display: block;
    color: darkmagenta;
    font-family: monospace;
    font-size: 17px;
}

form fieldset input
{
    width: 80%;
    height: 26px;
    padding: 5px;
    font-size: 17px;
    color: darkblue;
    margin-top: 5px;
}

form fieldset i
{
    background-color: #cfe1de;
    width: 26px;
    height: 26px;
    display: inline-flex !important;
    justify-content: center;
    line-height: 24px !important;
    margin-left: -3px;
    color: blueviolet;
}

hr
{
    border-top-color: #00ff3f;
    border-bottom-color: #b6ffaf;
    margin-bottom: 20px;
}

form fieldset.register
{
    display: flex;
    align-items: flex-end;
    justify-content: end;
}

form fieldset.register div
{
    width: 110px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b25fff;
    color: white;
    cursor: pointer;
}

form fieldset.register div:hover
{
    background-color: indigo;
}

@media (max-width: 200px) 
{
    form fieldset i
    {
       display: none !important;
    }

    form fieldset input
    {
        width: 100%;
    }
}

/* Special Styles */
.errorMessageFirstApearance{
    padding: 0px;
    color: rgba(0, 255, 255, 0);
    background-color: cyan;
    width: 0px;
    margin: 2px;
    margin-left: 0px;
    border-left: orangered 0px solid;
    font-family: sans-serif;
    font-size: 15px;
    min-height: 0px;
    transition-duration: 0.6s;
}

.errorMessageSecondApearance{
    padding: 5px;
    color: rgb(255, 51, 0);
    background-color: cyan;
    width: 327px;
    margin: 2px;
    margin-left: 0px;
    border-left: orangered 3px solid;
    font-family: sans-serif;
    font-size: 15px;
    min-height: 30px;
}