.yellow-grean-body
{
    background-color: #4caf50;
}

.message-container-successfulColor
{
    border-color: #00803b;
}

.message-title-successfulColor
{
    color: green;
}

.message-successfulColor
{
    color: #3fa554;
}