.yellow-grean-body
{
    background-color: #4caf50;
}

.successful-register
{
    width: 60%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50px;
}

.successful-message-container
{
    width: 678px;
    height: 678px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 21px #00803b solid;
    flex-wrap: wrap;
}

.successful-message-title
{
    display: block;
    width: 100%;
    font-size: 100px;
    text-align: center;
    color: green;
    font-family: sans-serif;
}

.successful-message
{
    display: block;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
    margin-top: -298px;
    color: #3fa554;
    font-size: 18px;
}

.btn-move-to-sign-page
{
    background: #f0f0f0;
    border: none;
    padding: 20px;
    cursor: pointer;
    color: #ff7c00;
    font-size: 17px;
}

.btn-move-to-sign-page:hover
{
    background-color: transparent;
}

@media (max-width:1200px) 
{

    .successful-register
    {
        width: 67%;
    }

    .successful-message-container
    {
        width: 580px;
        height: 580px;
    }
      
    .successful-message-title
    {
        font-size: 85px;
    }

    .successful-message
    {
        margin-top: -220px;
    }
}

@media (max-width: 900px) 
{
    .successful-register
    {
        width: 90%;
    }    
}

@media (max-width: 700px) 
{
    .successful-message-container
    {
        border:none;
    }
}

@media (max-width: 540px) 
{
    .successful-register 
    {
        height: 70%;
    }

    .successful-message-title {
        font-size: 60px;
    }  
    
    .successful-message
    {
        width: 70%;
    }
}

@media (max-width: 350px) 
{
    .successful-message-title {
        font-size: 35px;
    }  
}

/* special style */
.none
{
    display: none;
}