.yellow-grean-body
{
    background-color: #4caf50;
}

.message-container-successfulColor
{
    border: 21px #00803b solid;
}

.message-title-successfulColor
{
    color: green;
}

.message-successfulColor
{
    color: #3fa554;
}