html
{
    height: 100%;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form
{
    width: 447px;
    height: 253px;
    background-color: aquamarine;
    padding: 20px;
}

form fieldset
{
    border: none;
    margin-bottom: 20px;
}

form fieldset label
{
    display: block;
    color: darkmagenta;
    font-family: monospace;
    font-size: 17px;
}

form fieldset input
{
    width: 80%;
    height: 26px;
    padding: 5px;
    font-size: 17px;
    color: darkblue;
    margin-top: 5px;
}

form fieldset i
{
    background-color: #cfe1de;
    width: 26px;
    height: 26px;
    display: inline-flex !important;
    justify-content: center;
    line-height: 24px !important;
    margin-left: -3px;
    color: blueviolet;
}

hr
{
    border-top-color: #00ff3f;
    border-bottom-color: #b6ffaf;
    margin-bottom: 20px;
}

form fieldset.register
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

form fieldset.register a
{
    color: dimgray;
    text-decoration: none;
}

form fieldset.register a:hover
{
    color: purple;
}

form fieldset.register div
{
    width: 110px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b25fff;
    color: white;
    cursor: pointer;
}

form fieldset.register div:hover
{
    background-color: indigo;
}


/* media queries */

    /* max-width: 200px */
@media (max-width: 200px) 
{
    form fieldset i
    {
       display: none !important;
    }

    form fieldset input
    {
        width: 100%;
    }
}

    /* max 400px */
@media (max-width:400px) 
{
    form
    {
        height: 335px;
        position: relative;
    }

    form fieldset.register
    {
        display: block;
    }

    form fieldset.register a
    {
        position: absolute;
        bottom: 65px;
    }
}

