/* body style OPEN */

body
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

    /* main part of the home page style OPEN */

main
{
    width: 90%;
    padding-top: 20px;
}
        /* catogery style OPEN */
main div.category
{
    width: 100%;
    height: 310px;
    padding: 10px;
    margin-bottom: 20px;
    position: relative;
}
            /* category title style OPEN */
main div.category h2.title
{
    font-family: monospace;
    font-size: 22px;
}
            /* category title style CLOSE */

            /* products container OPEN */
main div.category div.container
{
    width: 100%;
    padding: 3px 2px;
    height: 100%;
    display: flex;
}
            /* products container CLOSE */

            /* angle tight style OPEN */
main div.category div.right-angle
{
    position: absolute;
    top: 12%;
    right: 0px;
    height: 92%;
    display: flex;
    align-items: center;
    background-color: #00ffff36;
    padding: 8px;
    color: darkgrey;
    cursor: pointer;
    display: none;
}
            /* angle tight style CLOSE */

/* angle tight style OPEN */
main div.category div.left-angle
{
    position: absolute;
    top: 12%;
    left: 0px;
    height: 92%;
    display: flex;
    align-items: center;
    background-color: #00ffff36;
    padding: 8px;
    color: darkgrey;
    cursor: pointer;
    display: none;
}
            /* angle tight style CLOSE */
        /* catogery style CLOSE */
    /* main part of the home page style CLOSE */
/* body style CLOSE */
